<head>
	<%= javascript_include_tag "mapa", "data-turbolinks-track" => true  %>
</head>
<body>
	<div style='width: 800px;'>
		<div id="geolocation" style='width: 800px; height: 400px;'></div>
	</div>
</body>